html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  color: #4d4d4d;
  font-weight: 300;
  font: 1rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;

  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
