.normal {
  align-items: stretch;
  border-bottom: 1px solid #EC1D24;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 12px;
  width: 100%;
}

.normal h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0;
}

.normal time {
  font-size: 0.75rem;
  font-style: italic;
  color: #666;
  text-decoration: underline;
}

.content {
  flex: 1;
  overflow: hidden;
}

.normal img {
  width: 100%;
  height: auto;
}
