article {
    padding: 12px;
    background: #fff;
    border-bottom: 1px solid #EC1D24;
}

article .hashtag {
    color: #666;
}

article .timestamp {
    font-size: 0.75rem;
    font-style: italic;
    color: #666;
}
