.normal {
  border-bottom: 3px solid #ff0000;
  margin-bottom: 0.67em;
}

header {
    position: relative;
    background: #EC1D24;
    color: #fff;
    height: 64px;
}

.headerContent {
    position: relative;
    max-width: 50em;
    margin: 0 auto;
    padding: 12px;
}

.headerContent > h1 {
    font-size: 4rem;
    margin: 0;
    /*background-image: url('images/logo.png');*/
    background-size: 200px 40px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
        /*background-image: url('images/logo@2x.png');*/
    }
}

.radioToggle {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 40px;
    height: 40px;
}

.radioToggle img {
    -webkit-transition: all 0.2s ease-out;
    /* Safari */
    transition: all 0.2s ease-out;
    -ms-transform: rotate(0deg);
    /* IE 9 */
    -webkit-transform: rotate(0deg);
    /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    width: 40px;
    height: 40px;
}

.radio .play {
    display: inline-block;
    background: #fff;
    color: #000;
    padding: 0.25em;
    border-radius: 1em;
    cursor: pointer;
    line-height: 1em;
    width: 1em;
}
