.normal {
  background-color: #EC1D24;
  color: #ffffff;
  height: 64px;
  padding: 12px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.logotype {
  background-image: resolve('motkraft.svg');
  background-repeat: no-repeat;
  background-size: 200px 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 12px;
  padding: 0;
  text-indent: -9999px;
  width: 200px;
}
