.normal {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
}

.header {
  background-color: #fbd2d3;
  padding: 12px;
}

.header h2 {
  margin: 0;
  color: #EC1D24;
  margin-bottom: 12px;
}

.header p {
  margin: 0;
}

.event-list {
  margin: 0;
  padding: 0;
}
